<template name="audioInformationSoundQuality">
    <h1>Audio INformation Sound Quality</h1>

    <hr/>

    <div style="font-size: 100px;text-align: center;margin-bottom: 15px;">
        <p class="glyphicon glyphicon-play"></p>
    </div>

    <div class="btn-group" role="group" aria-label="sound quality" style="width: 100%;">
        <button type="button" class="btn btn-success btn-lg" style="width: 33%;">好</button>
        <button type="button" class="btn btn-warning btn-lg" style="width: 33%;">中</button>
        <button type="button" class="btn btn-danger btn-lg" style="width: 33%;">差</button>
    </div>

    <hr/>

    <a href="{{pathFor 'audioInformationImportant'}}" class="btn btn-lg btn-success">保存，下一步</a>
</template>