<template name="audioInformationImport">
    {{#if hasPermission}}
        <h1>Import data for audio information.</h1>

        <div class="main">
            <input id="audioinformation-import-data" type="file" class="form-control file" multiple/>
            <hr/>
            {{#each uploads}}
                {{log}}
                [ <a href="{{url}}">upload item</a> ]

                {{#unless this.isUploaded}}
                    {{> FS.UploadProgressBar}}
                {{else}}
                    Delete
                    {{this.name}}: {{> FS.DeleteButton class="btn btn-danger btn-xs"}}

                    <br/>
                    {{fileData url _id}}
                    <textarea id="file-data-textarea-{{_id}}" cols="30" rows="10"></textarea>


                {{/unless}}

                <hr/>
            {{/each}}
        </div>
    {{else}}
        <h1>You have no permission.</h1>
    {{/if}}
</template>