<template name="audioInformationImportant">
    <h1>Audio Information Replenish</h1>

    <hr/>

    <p>占位符...年龄、模式选择，以填写相应的描述</p>

    <div class="form-group">
        <label for="influence">音频描述</label>
        <textarea name="influence" id="" cols="30" rows="10" class="form-control" placeholder="当前音频对孩子当前成长阶段的益处和影响"></textarea>
    </div>


    <div class="form-group">
        <label for="tag">标签</label>
        <input type="text" class="form-control" name="tag"/>
    </div>


    <a href="{{pathFor 'audioInformationImportant'}}" class="btn btn-success btn-lg">保存，下一个</a>

</template>